html, body, p, ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: $font-size-base;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

body {
  background-image: linear-gradient(-180deg, #131d42 7%, #131c3e 61%, #121b3c 100%);
}

.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

.align-right {
  float: right;
}

//::-webkit-scrollbar {
//  width: 5px;
//  height: 5px;
//}
//
//::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
//  background: #1D2331;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 4px;
//  background-color: #5F6C88;
//}
//
//::-webkit-scrollbar-thumb:hover {
//  background-color: #8998B7;
//}
