
/* Colors*/
$color-light                   : #fff;
$color-blue-light              : #0082d5;
$color-blue-grey               : #54657e;

/* Font */
$font-size-base                : 14px !default;

/* normal */
$min-screen-width              : 85.375rem;
$min-screen-height             : 48rem;
$normal-padding                : 20px;

/* Tab */
$tab-line-width                : 100px;

/* Table*/
$table-th-bg                   : #242c4a;
$table-th-font-size            : 13px;
$table-td-bg                   : #2e364c;

/* Checkbox */
$checkbox-color                : #c0ccda;

/* Date */
$calendar-bg                   : #313b52;
$calendar-border               : #6d7487;

$container-bg                  : #1c2641;


/* problem-equipment */
$level-bar-width               : 48px;
$level-bar-1-bg-color          : #d2335c;
$level-bar-2-bg-color          : #ff9948;

/* history-log */
$view-more-color               : #20a0ff;
$progress-bar-width            : 100px;
$progress-bar-bg-color         : $color-blue-grey;
$progress-bg-color             : #b8e986;
$table-wrap-width              : 80%;
$history-left-width            : 60%;