@import "variable";
@import "utils";
@import "normalize";
@import "checkbox";
@import "tab";
@import "table";
@import "date";
@import "button";

/* Common */
.left-container, .right-container {
  opacity: 0.9;
  background: $container-bg;
  position: absolute;
  z-index: 100;
}

.left-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $normal-padding;
}

.popup {
  position: absolute;
  top: 50px;
  left: 70px;
  background: #313b52;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  width: 120px;
  .region-list {
    li {
      padding: $normal-padding 2*$normal-padding 0 $normal-padding*.75;
      color: $color-light;
      font-size: 12px;
      input[type=checkbox]{
        vertical-align: middle;
        margin-right: $normal-padding/2;
      }
      &:last-child {
        padding-bottom: $normal-padding;
      }
    }
  }
}



/* problemEquipment */

.problem-equipment {
  .left-container, .right-container {
    top: $normal-padding;
    bottom: $normal-padding;
  }
  .left-container {
    width: 960px;
    left: $normal-padding;
  }
  .right-container {
    left: 960px+$normal-padding*2;
    right: $normal-padding;
    .map-content {
      width: 100%;
      height: 100%;
    }
  }
  .level1, .level2, .level3 {
    margin-left: $normal-padding/2;
  }
  .level1 {

    @include progressbar($level-bar-width, $level-bar-1-bg-color);
  }
  .level2 {
    @include progressbar($level-bar-width, $level-bar-2-bg-color);
  }
  .level3 {
    @include progressbar($level-bar-width, $level-bar-2-bg-color);
  }
}

.history-log {
  padding: 30px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .table-wrap {
    width: $table-wrap-width;
    position: relative;
    height: 100%;
    margin-left: 10%;
  }
  .oper-btns .btn{
    margin-right: $normal-padding/4;
  }
  .history-log-table {
    width: 100%;
  }
  .left-container, .right-container {
    top: 54px;
  }
  .left-container, .oper-btns {
    width: 60%;
  }
  .left-container {
    bottom: $normal-padding;
  }
  .right-container {
    position: absolute;
    left: $history-left-width;
    margin-left: 10%;
    padding: $normal-padding;
  }
  .view-more {
    color: $view-more-color;
  }
  .progress-bar {
    margin-right: $normal-padding/2;
    display: inline-block;
    @include progressbar($progress-bar-width, $progress-bar-bg-color);
    position: relative;
    .progress {
      @include progressbar(0, $progress-bg-color);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
